body{
  margin:0;
  font-family: Poppins;
  background-color: #cdf2fe;
}

/* NOME EM CIMA */
div#top{
  width:100%;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
}
div#top h1{
  margin:0;
  padding: 10px 0 10px 0px;
}

/* NAVEGAÇÃO */
div#path{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 0 10px 0; */
  margin:10px;
}
div#path p{
  margin:0;
  padding: 0;
  font-size: 18px;
}
div#path a{
  text-decoration: none;
  color: inherit;
  transition: 0.15s;
}
div#path a:hover{
  text-decoration: underline;
}

/* COLUNAS */
div#main{
  display:flex;
  width:100%;
}
.edges{
  width:10%;
  background-color: inherit;
}

/* DIV PRINCIPAL PARA O CONTEÚDO */
div#mid{
  width:80%;
}

div#result p{
  font-size:20px;
  text-align: justify;
}

/* TÍTULOS */
.titles{
  text-align: center;
}

/* DIVs PARA ORGANIZAR OS BLOCOS */
div#box-geral{
  display: flex;
}
.box-cont{
  padding:0 50px 50px 50px;
  width:50%;
}

/* BLOCOS DE PERGUNTAS */
.box-questions{
  border-radius:10px;
  background-color:white;
  border:3px solid black;
  box-shadow: 3px 3px black;
  padding:30px;
  margin-bottom:30px;
}
.question{
  font-size: 20px;
  text-align: center;
  margin:0;
  padding-bottom:20px;
}
.box-options{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* DIV QUE AGRUPA 2 OPÇÕES */
.two-options{
  display: flex;
  flex-direction: row;
}

input[type="radio"], input[type="checkbox"]{ /* REMOVE A BOLINHA DO INPUT */
  opacity:0;
  width:0;
  height:0;
  margin:0;
}

.div-option{ /* DIV QUE ENVOLVE O LABEL */
  margin: 10px;
}

.opt-click{  /* OPÇÕES */
  display: flex;
  cursor:pointer;
  padding:4px 10px 4px 10px;
  text-align: center;
  justify-content: center;
  align-items: center;

  color:white;
  background-color: #3d3dff;
  border-radius:10px;
  box-shadow: 3px 3px #0b005c;
  min-width: 90px;
  min-height: 60px;

  transition:0.15s;
}

.opt-click:hover{
  background-color: black;
  box-shadow: 3px 3px #3b3b3b;
}
/* CLASSE QUE A OPÇÃO PEGA QUANDO É CLICADA */
.opt-clicked{
  background-color: black;
  box-shadow: 3px 3px #3b3b3b;
  display: flex;
  cursor:pointer;
  padding:4px 10px 4px 10px;
  text-align: center;
  justify-content: center;
  align-items: center;

  color:white;
  border-radius:10px;
  min-width: 90px;
  min-height: 60px;
}

/* CLASSE PARA O BOTÃO DESABILITADO */
.opt-disabled{
  background-color: #757575;
  box-shadow: 3px 3px #2b2b2b;
  display: flex;
  padding:4px 10px 4px 10px;
  text-align: center;
  justify-content: center;
  align-items: center;

  color:#dedede;
  border-radius:10px;
  min-width: 90px;
  min-height: 60px;
}

/* DIV DO BOTÃO */
.btn-div{
  display: flex;
  margin:0 50px 50px 50px;
  justify-content: center;
  align-items: center;
}
.btn-stl{
  border-radius: 10px;
  font-weight: bold;
  background-color: #3d3dff;
  color:white;
  font-size: 24px;
  width: 160px;
  height: 60px;
  border: none;
  box-shadow: 3px 3px  #0b005c;
  transition: 0.15s;
  cursor:pointer;
}
.btn-stl:hover{
  background-color: black;
  box-shadow: 3px 3px #3b3b3b;
}
/* botão final */
button#return{
  background-color: white;
  color:black;
  box-shadow: 3px 3px  black;
  transition:0.15s;
}
button#return:hover{
  background-color: black;
  color:white;
  box-shadow: 3px 3px  #3b3b3b;
}

/* BOTTOM */
div#bottom{
  width:100%;
  height: 300px;
  background-color: black;
  text-align: center;
  font-size:20px;
  color:white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
div#bottom p{
  margin:0;
}
div#bottom b{
  font-size:24px;
}
div#bottom a{
  color:inherit;
  text-decoration: none;
  transition:0.15s;
}
div#bottom a:hover{
  color:lightblue;
  text-decoration: underline;
}

/* RESULTADO */
div#result{
  display:none;
}

.aprovado{
  background-color: #e5fff5;
  color:#133305;
  padding: 25px;
  margin: 50px;
}
.reprovado{
  background-color: #fee1e1;
  color:#4d001f;
  padding: 25px;
  margin: 50px;
}
.quasela{
  background-color: lightblue;
  color:#000d4d;
  padding: 25px;
  margin: 50px;
}
div#btn-result{
  margin:50px 0px 50px 0px;
}

/* ERRO */
div#msgerro{
  color:#ff0000;
  font-weight:bold;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

/* BTN RESULT */
#btn-result{
  display:none;
}

/* RESIZE */
@media screen and (max-width: 1250px){
  /* TIRA AS COLUNAS LATERAIS */
  .edges{
    width: 0;
  }
  /* ALTERA A DIV DO MEIO PARA 100% DA TELA */
  div#mid{
    width:100vw;
  }
}

@media screen and (min-width: 1251px){
  /* ADICIONA AS COLUNAS LATERAIS */
  .edges{
    width: 10%;
  }
  /* ALTERA A DIV DO MEIO PARA 80% DA TELA */
  div#mid{
    width:80%;
  }
}

@media screen and (max-width: 950px){
  /* ALTERA A VISUALIZAÇÃO DE 2 COLUNAS PARA 1 SÓ */
  div#box-geral{
    display: block;
  }
  .box-cont{
    width:calc(100% - 50px);
    padding:0 25px 25px 25px;
  }
  div#result, .aprovado, .reprovado, .quasela{
    margin:0;
  }
  #verificar{
    margin:0;
  }
}

@media screen and (min-width: 951px){
  /* ALTERA A VISUALIZAÇÃO DE 1 COLUNA PARA 2 */
  div#box-geral{
    display: flex;
  }
  div#result, .aprovado, .reprovado, .quasela{
    margin:0px 50px 50px 50px;
  }
  .box-cont{
    width:50%;
    padding:0 50px 50px 50px;
  }
}